@charset "utf-8";
.hideItem {
  display: none!important;
}
.borderRadius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  min-width: 1200px;
}
html,
body {
  background-color: #EBEBEB;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #666;
  font-family: Microsoft YaHei, "微软雅黑";
  background-color: #f1f5f8;
}
div,
li,
ul,
p,
span a,
em,
i,
input,
dl,
dd,
dt {
  box-sizing: border-box;
}
input,
button,
select {
  outline: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
i {
  font-style: normal;
}
img {
  display: inline-block;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: '';
  width: 0;
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
}
.fb {
  font-weight: 700;
}
.fn {
  font-weight: 400;
}
.t2 {
  text-indent: 2em;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.zoom {
  zoom: 1;
}
.hidden {
  visibility: hidden;
}
/*导航栏*/
.nav {
  width: 100%;
  height: 70px;
  background-color: #1D9EEF;
  padding: 0 20px;
  position: relative;
}
.logo {
  width: 330px;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
}
.logo a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.logo a .logoName {
  overflow: hidden;
  padding-left: 10px;
}
.logo a .logoName .hospitalName {
  font-size: 14px;
  color: #fff;
}
.logo a .logoName .sugarSystem {
  font-size: 12px;
  color: #b4d8f8;
}
.navBar {
  overflow: hidden;
}
.navBarLeft li {
  margin-right: 30px;
}
.navBarLeft li:last-of-type {
  margin-right: 0;
}
.navBarLeft li a.active {
  border-bottom: 2px solid #fff;
}
.navBarLeft li {
  position: relative;
}
.navBarLeft li > i {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: red;
  position: absolute;
  top: 22px;
  right: -5px;
}
.navBarRight {
  position: absolute;
  right: 20px;
}
.navBarLeft li a,
.navBarRight > ul > li {
  font-size: 16px;
  line-height: 70px;
  color: #fff;
}
.navBarRight li img {
  width: 17px;
  height: 19px;
}
.navBarRight li.navMsgImg {
  padding: 0 24px;
  cursor: pointer;
  position: relative;
}
.navBarRight li.navMsgImg i {
  display: inline-block;
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: red;
  position: absolute;
  top: 22px;
  right: 20px;
}
.navBarRight li a img {
  vertical-align: middle;
}
.navBarRight li.line {
  color: #fff;
  margin: 0;
}
.PopMask {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.navBarRight li.nav-my {
  padding-right: 24px;
}
.navBarRight .nav-my {
  width: 100px;
  height: 70px;
  position: relative;
}
.navBarRight .nav-my .user {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 70px;
  text-align: center;
  color: #fff;
}
.navBarRight .nav-my .drapDown-user {
  display: none;
  width: 90px;
  height: 97px;
  z-index: 2;
  position: absolute;
  top: 50px;
  left: 15px;
  background: url("../image/user_down_bg.png") no-repeat center;
}
.navBarRight .nav-my .drapDown-user ul {
  width: 100%;
  height: 100%;
  padding: 20px 10px 0 10px;
}
.navBarRight .nav-my .drapDown-user ul li {
  width: 100%;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  border-bottom: 1px solid #ccc;
}
.navBarRight .nav-my .drapDown-user ul li a {
  display: inline-block;
  width: 100%;
  color: #666;
  height: 32px;
}
.navBarRight .nav-my .drapDown-user ul li a:hover {
  color: #2fa6f0;
}
.navBarRight .nav-my .drapDown-user ul li.active a {
  color: #2fa6f0;
}
.navBarRight .nav-my .drapDown-user ul li.last {
  border-bottom: none;
}
.navBarRight .nav-my > a:after {
  content: '';
  width: 10px;
  height: 7px;
  display: inline-block;
  background: url("../image/icon_user_downpush.png") no-repeat center / 10px 7px;
  position: absolute;
  right: 0;
  top: 31px;
  margin-right: 10px;
}
.navMsg {
  display: none;
  position: absolute;
  width: 224px;
  height: 223px;
  top: 47px;
  right: 108px;
  z-index: 22;
  background: url('../image/message_bg.png') no-repeat center / 224px 223px;
}
.navMsg .msgBg {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px 18px 0 18px;
  font-size: 12px;
}
.navMsg .msgBg ul li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #cecece;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.navMsg .msgBg ul li a {
  color: #666;
}
.navMsg .msgBg ul li a:hover {
  color: #1d9eef;
}
.navMsg .msgBg a {
  display: block;
  line-height: 38px;
  color: #666;
}
.navMsg .msgBg a:hover {
  color: #1d9eef;
}
.updatePwdPop {
  display: none;
  width: 382px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  z-index: 4;
  top: 50%;
  margin-top: -160px;
  margin-left: -191px;
  padding: 0 20px 20px 20px;
  background-color: #fff;
}
.updatePwdPop .title {
  line-height: 60px;
  height: 60px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #ccc;
}
.updatePwdPop .title a {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../image/close_but_normal.png") no-repeat center / 24px 24px;
  margin-top: 18px;
}
.updatePwdPop .updatePwd-content {
  font-size: 14px;
  color: #666;
  padding-top: 35px;
  padding-bottom: 50px;
}
.updatePwdPop .updatePwd-content .updateList {
  height: 35px;
  line-height: 35px;
  margin-bottom: 20px;
}
.updatePwdPop .updatePwd-content .updateList p {
  display: inline-block;
  height: 35px;
  margin-right: 10px;
  width: 80px;
}
.updatePwdPop .updatePwd-content .updateList input {
  width: 220px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}
.updatePwdPop .updatePwd-content .updateList-btn {
  position: absolute;
  right: 40px;
  bottom: 30px;
}
.updatePwdPop .updatePwd-content .updateList-btn a {
  display: inline-block;
  width: 80px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.updatePwdPop .updatePwd-content .updateList-btn a.cancel {
  margin-left: 20px;
}
.updatePwdPop .updatePwd-content .updateList-btn a.active {
  color: #fff;
  background-color: #2fa6f0;
}
/*
!*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*!
::-webkit-scrollbar{width: 8px;height: 16px;background-color:transparent;}
!*定义滚动条轨道 内阴影+圆角*!
::-webkit-scrollbar-track {background-color: #fff;}
!*定义滑块 内阴影+圆角*!
::-webkit-scrollbar-thumb {border-radius: 3px;background-color: #e6eaed;}
*/
.scrollBar {
  scrollbar-face-color: #fff;
  /*主色调*/
  scrollbar-highlight-color: #e6eaed;
  scrollbar-shadow-color: #e6eaed;
  /*描边颜色*/
  scrollbar-3dlight-color: #e6eaed;
  /*左侧边高光颜色*/
  scrollbar-arrow-color: transparent;
  /*小三角颜色*/
  scrollbar-track-color: #e6eaed;
  scrollbar-darkshadow-color: #DDD;
}
.scrollBar::-webkit-scrollbar {
  width: 8px;
  height: 16px;
  background-color: transparent;
}
.scrollBar::-webkit-scrollbar-track {
  background-color: #fff;
}
.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #e6eaed;
}
.toast-container {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.toast-container.active {
  opacity: 1;
}
.toast-message {
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background: #000;
  padding: 10px;
}
.flex {
  display: -webkit-box;
  /*布局方式 相当于display:flex*/
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: box;
}
.align-items-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.align-items-center {
  -webkit-box-align: center;
  /*box的对齐方式 align-items:center;*/
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-items-end {
  -webkit-box-align: end;
  /*box的对齐方式 align-items:flex-end;*/
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.align-content {
  align-content: space-between;
  -webkit-align-content: space-between;
  -webkit-justify-content: space-between;
}
.justify-content-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-content-between {
  -webkit-box-pack: justify;
  /* justify-content: space-between;*/
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.wordhidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*主页*/
.content {
  padding: 20px;
}
/*主页左边*/
.contentLeft {
  width: 260px;
  float: left;
  margin-right: 20px;
  padding-bottom: 3em;
  background-color: #fff;
}
.topDoctor img {
  display: block;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 16px;
}
.doctorName {
  font-size: 18px;
  color: #111;
}
.doctorInfo {
  color: #666;
  padding: 10px 0 60px 0;
}
.midPatient {
  margin-bottom: 30px;
}
.addPatient {
  width: 180px;
  height: 36px;
  background-color: #1D9EEF;
  text-align: center;
  line-height: 36px;
  margin: 0 auto;
  display: block;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
}
.addPatient:before {
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  padding-right: 5px;
  /*background-color: red;*/
  background: url("../image/home_add_icon.png") no-repeat center / 12px 12px;
}
.searchPatient {
  width: 180px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  margin-top: 16px;
  border: 1px solid #aab9c2;
  border-radius: 18px;
  position: relative;
  cursor: pointer;
}
.searchPatient input {
  display: block;
  width: 80%;
  height: 100%;
  line-height: 36px;
  margin-left: 30px;
  color: #aab9c2;
  background-color: transparent;
  font-size: 12px;
}
.searchPatient:before {
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  padding-right: 5px;
  /*background-color: red;*/
  background: url("../image/home_search_icon.png") no-repeat center / 12px 12px;
  position: absolute;
  top: 12px;
  left: 14px;
}
.searchPatientPop {
  display: none;
  width: 180px;
  max-height: 156px;
  margin: 0 auto;
  margin-bottom: 32px;
  border: 1px solid #aab9c2;
  overflow-y: auto;
}
.searchPatientPop ul li {
  padding-left: 10px;
  color: #111;
  font-size: 14px;
  line-height: 28px;
}
.searchPatientPop p {
  padding-left: 10px;
  color: #999;
  font-size: 12px;
  line-height: 28px;
}
/*折叠菜单*/
.botHospitalInfo li {
  line-height: 40px;
}
.inactive::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  padding-right: 16px;
  background: url("../image/home_type_icon.png") no-repeat center / 13px 13px;
}
.inactives::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  padding-right: 16px;
  background: url("../image/home_type2_icon.png") no-repeat center / 13px 13px;
}
.inactives + ul {
  display: none;
}
.levelOne > a {
  display: block;
  padding-left: 20px;
}
.levelTwo > a {
  display: block;
  padding-left: 36px;
  font-size: 14px;
}
.levelTwo > ul li a {
  display: block;
  padding-left: 64px;
  font-size: 12px;
}
.levelTwo > ul li.active a {
  color: #1d9eef;
}
.levelOne > a:hover,
.levelTwo > a:hover,
.levelTwo > ul a:hover {
  background-color: #ebf0f3;
}
/*主页右边*/
.contentRight {
  overflow: hidden;
}
.contentRight .bar {
  margin-bottom: 20px;
  width: 100%;
}
.contentRight .bar ul {
  width: 100%;
  font-size: 0;
}
.contentRight .bar li {
  display: inline-block;
  width: 24.4%;
  height: 180px;
  text-align: center;
  cursor: pointer;
}
.contentRight .bar li.li_1,
.contentRight .bar li.li_2,
.contentRight .bar li.li_3 {
  margin-left: .8%;
}
.contentRight .bar li a {
  width: 100%;
  height: 100%;
}
.contentRight .bar li.li_0 {
  background-color: #f1738b;
}
.contentRight .bar li.li_1 {
  background-color: #43c2f1;
}
.contentRight .bar li.li_2 {
  background-color: #f18273;
}
.contentRight .bar li.li_3 {
  background-color: #00c2b1;
}
.bar .num {
  font-size: 60px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 5px;
}
.bar .numInfo {
  font-size: 24px;
  color: #fff;
}
.bar .numInfo:before {
  content: '';
  width: 18px;
  height: 21px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.bar li.li_0 .numInfo:before {
  background: url("../image/home_bar1_icon.png") no-repeat center / 18px 21px;
}
.bar li.li_1 .numInfo:before {
  background: url("../image/home_bar2_icon.png") no-repeat center / 18px 21px;
}
.bar li.li_2 .numInfo:before {
  background: url("../image/home_bar3_icon.png") no-repeat center / 18px 21px;
}
.bar li.li_3 .numInfo:before {
  background: url("../image/home_bar4_icon.png") no-repeat center / 18px 21px;
}
.bedTable {
  background-color: #fff;
  padding: 0 20px 50px 20px;
}
.bedTable .bedTableTitle {
  height: 58px;
  line-height: 58px;
  font-size: 16px;
  color: #1d9eef;
}
.bedTable .list {
  width: 110%;
  padding-right: 20px;
}
.bedTable .list .item {
  display: inline-block;
  width: 8%;
  margin-right: 1%;
  height: 138px;
  border: 1px solid #cecece;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  vertical-align: top;
}
.bedTable .list .item .name {
  width: 100%;
  font-size: 20px;
  height: 50px;
  color: #111;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 50px;
}
.bedTable .list .item .info {
  width: 100%;
  color: #111;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 22px;
}
.bedTable .list .item .time {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #819cad;
  line-height: 32px;
  height: 32px;
}
.bedTable .list .item .begNo {
  width: 100%;
  height: 30px;
  background: #f1f5f8;
  text-align: center;
  position: relative;
  bottom: -1px;
  font-size: 16px;
  line-height: 30px;
}
.bedTable .list .item .begNo .start {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  background: url("../image/user_special_but_off2.png") no-repeat center;
  background-size: 100%;
}
.bedTable .list .item .begNo a {
  display: inline-block;
  width: 100%;
  color: #1D9EEF;
  height: 30px;
}
.bedTable .list .item .begNo a span {
  display: inline-block;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bedTable .list .active .begNo .start {
  background: url("../image/user_special_but_on2.png") no-repeat center;
}
.bedTable .list .leaveHospital .name {
  color: #819cad;
}
.bedTable .list .leaveHospital .info {
  color: #819cad;
}
.bedTable .list .leaveHospital .time {
  color: #819cad;
}
.bedTable .list .leaveHospital .begNo {
  color: #819cad;
}
.analyseTitle {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #1b1d1e;
  border-left: 6px solid #1d9eef;
  border-bottom: 1px solid #eceff1;
  padding: 0 20px 0 14px;
}
.addPatientAnalyse,
.sugarTestAnalyse,
.sugarAbnormalAnalyse {
  margin-bottom: 20px;
  background-color: #fff;
  height: 460px;
}
.timeSelect {
  width: 100%;
  padding-left: 20px;
}
.timeSelect p {
  width: 20%;
  margin-top: 30px;
  font-size: 12px;
  color: #999;
}
.timeSelect ul {
  margin-top: 20px;
  margin-right: 20px;
}
.timeSelect ul li {
  width: 80px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #eceff1;
  margin-left: 10px;
  border-radius: 4px;
}
.timeSelect ul li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-size: 14px;
}
.timeSelect .bg_sel {
  background-color: #2fa6f0;
  color: #fff;
  border: none ;
}
.timeSelect ul li.timeSlot {
  width: 88px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.timeSelect ul li.timeSlot .timeSel-sugarStatus {
  width: 90%;
  height: 90%;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
}
.timeSelect ul li.timeSlot .option_box {
  width: 100%;
  max-height: 240px;
  top: 28px;
}
.timeSelect ul li.timeSlot .option_box a {
  width: 100%;
  height: 28px;
  line-height: 28px;
}
/*添加患者的弹窗,编辑患者弹窗*/
.addPatientPop {
  display: none;
  width: 62.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  /*  margin-left: -31.25%;
  margin-top: -20%;*/
  background-color: #fff;
  border-radius: 10px;
  padding: 0 15px 25px;
  z-index: 11;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.addPatientPop .title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 900;
  color: #1b1d1e;
  border-bottom: 2px solid #eceff1;
}
.addPatientPop .title a {
  display: block;
  width: 44px;
  height: 44px;
  margin-top: 18px;
  background: url("../image/close_but2.png") no-repeat center / 44px 44px;
}
.addPatientPop .addInfo {
  padding-top: 30px;
  font-size: 14px;
  position: relative;
}
.addPatientPop .addInfo .listBox {
  margin-bottom: 20px;
}
.addPatientPop .addInfo .listBox .item {
  width: 23%;
  margin-right: 1%;
}
.addPatientPop .addInfo .listBox .item p {
  width: 40%;
  height: 30px;
  /*background-color:red;*/
  float: left;
  text-align: right;
  line-height: 30px;
  padding-right: 1%;
  color: #111;
}
.addPatientPop .addInfo .listBox .item input {
  width: 54%;
  height: 30px;
  /*background-color: blue;*/
  float: left;
  color: #666;
  line-height: 30px;
  border: 1px solid #d3dadf;
  border-radius: 5px;
  text-align: center;
}
.addPatientPop .addInfo .listBox .item .need {
  color: red;
  line-height: 30px;
  padding-left: 3px;
}
.addPatientPop .addInfo .listBox .item .colorWhite {
  color: #fff;
}
.addPatientPop .addInfo .listBox .item .gender {
  width: 60%;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.addPatientPop .addInfo .listBox .item .gender label input {
  width: 13px;
  height: 13px;
  float: none;
}
.addPatientPop .addInfo .listBox .item .gender .male {
  padding-right: 15%;
}
.addPatientPop .addInfo .listBox .item .select_box {
  width: 54%;
}
.addPatientPop .addInfo .listBox .item .select_box .select_txt {
  width: 100%;
}
.addPatientPop .addInfo .listBox .item .select_box .option_box {
  position: absolute;
  top: 28px;
  z-index: 22;
}
.addPatientPop .addInfo .listBox .itemFirst {
  width: 27%;
}
.addPatientPop .addInfo .txt p:nth-of-type(1) {
  width: 9%;
  text-align: right;
  color: #111;
  line-height: 30px;
}
.addPatientPop .addInfo .txt .textArea {
  width: 86%;
  min-height: 30px;
  border: 1px solid #d3dadf;
  border-radius: 5px;
  padding: 16px;
  line-height: 16px;
  color: #666;
  outline: none;
  resize: none;
  overflow: hidden;
}
.addPatientPop .addInfo .txt .need {
  color: red;
  line-height: 30px;
  padding-left: 3px;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #111111;
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 10;
}
/*患者血糖打印*/
.patient-gis-print {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.patient-gis-print .content {
  width: 40%;
  background: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0 20px 75px;
}
.patient-gis-print .content .title {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  position: relative;
}
.patient-gis-print .content .title span {
  line-height: 60px;
}
.patient-gis-print .content .title .bloodBtn {
  color: #1D9EEF;
  width: 130px;
  margin-top: 15px;
  margin-right: 15px;
  float: left;
  border: 1px solid #1D9EEF;
}
.patient-gis-print .content .title .select-choose {
  color: white;
  background-color: #1D9EEF;
}
.patient-gis-print .content .title a {
  width: 24px;
  height: 24px;
  position: absolute;
  background: url("../image/close_but_normal.png") no-repeat center;
  background-size: 100%;
  cursor: pointer;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.patient-gis-print .content .title a:hover {
  background: url("../image/close_but_press.png") no-repeat center;
}
.patient-gis-print .content .user-choose {
  margin: 10px 0;
  height: 28px;
}
.patient-gis-print .content .user-choose .user-nurse {
  float: left;
}
.patient-gis-print .content .user-choose .select {
  float: left;
  margin: 0 5px;
  display: inline-block;
  position: relative;
  height: 28px;
  min-width: 100px;
  max-width: 180px;
  margin-left: 10px;
}
.patient-gis-print .content .user-choose .select .select-btn {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  border: 1px solid #cecece;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  text-align: left;
}
.patient-gis-print .content .user-choose .select .triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #111111;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}
.patient-gis-print .content .user-choose .select .list-show {
  min-width: 100%;
  height: auto;
  max-height: 150px;
  padding-bottom: 10px;
  background: #fff;
  overflow-y: auto;
  border: 1px solid #cecece;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 100;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.patient-gis-print .content .user-choose .select .select-list {
  width: 100%;
  height: auto;
  background: #fff;
  z-index: 222;
}
.patient-gis-print .content .user-choose .select .select-list li {
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.patient-gis-print .content .user-choose .select .select-list li:hover {
  background: #e6eaed;
}
.patient-gis-print .content .print-content {
  width: 100%;
  border: 1px solid #cecece;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 18px 40px;
  height: 600px;
  overflow-y: auto;
}
.patient-gis-print .content .print-content .hospital-title {
  width: 100%;
  margin-bottom: 20px;
  border: none;
}
.patient-gis-print .content .print-content .hospital-title p:nth-of-type(1) {
  font-size: 20px;
  color: #666;
  line-height: 36px;
}
.patient-gis-print .content .print-content .hospital-title p:nth-of-type(2) {
  font-size: 24px;
  color: #111;
  line-height: 40px;
}
.patient-gis-print .content .print-content .td-info {
  width: 100%;
  border: none;
}
.patient-gis-print .content .print-content .td-info .patient-info {
  width: 100%;
  text-align: left;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.patient-gis-print .content .print-content .td-info .patient-info .item {
  font-szie: 14px;
  color: #111;
  line-height: 30px;
}
.patient-gis-print .content .print-content .td-info .patient-info .item:nth-last-of-type(1) {
  text-align: right;
}
.patient-gis-print .content .print-content table {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  color: #111;
  border-collapse: collapse;
  border: none;
}
.patient-gis-print .content .print-content table thead {
  background: #fff;
  border-collapse: collapse;
  border: none;
}
.patient-gis-print .content .print-content table thead tr {
  border: none;
}
.patient-gis-print .content .print-content table thead tr td:nth-of-type(1) {
  width: 19%;
}
.patient-gis-print .content .print-content table thead tr td {
  width: 9%;
  background: #fff;
  font-size: 14px;
  color: #111;
  height: 35px;
  border: 1px solid #999;
}
.patient-gis-print .content .print-content table thead tr .theadspace {
  display: none;
}
.patient-gis-print .content .print-content table tbody {
  border-collapse: collapse;
}
.patient-gis-print .content .print-content table tbody tr {
  border: none;
}
.patient-gis-print .content .print-content table tbody tr td {
  height: 35px;
  border: 1px solid #999;
}
.patient-gis-print .content .btn {
  width: 100%;
  height: 75px;
  text-align: center;
  line-height: 75px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.patient-gis-print .content .btn button {
  width: 120px;
  height: 36px;
  color: #fff;
  background: #00c2b1;
  display: inline-block;
  border: none;
}
@page {
  size: A4;
  margin: 0mm;
  padding-bottom: 3mm;
}
@media print {
  /* TODO: 添加打印样式 */
  .print-content {
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 18px 30px 30px;
    padding-left: 0px;
    margin: 0 auto;
  }
  .print-content .details-content .hospital-title {
    height: 110px;
    vertical-align: middle;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
  }
  .print-content .details-content .hospital-title p:nth-of-type(1) {
    font-size: 26px;
    color: #000;
    line-height: 70px;
  }
  .print-content .details-content .hospital-title p:nth-of-type(2) {
    font-size: 30px;
    color: #000;
    line-height: 50px;
  }
  .print-content .details-content .td-info {
    width: 100%;
    border: none;
  }
  .print-content .details-content .td-info .patient-info {
    width: 100%;
    text-align: left;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }
  .print-content .details-content .td-info .patient-info .item {
    font-size: 22px;
    color: #000;
    line-height: 40px;
  }
  .print-content .details-content .td-info .patient-info .item:nth-last-of-type(1) {
    text-align: right;
  }
  .print-content .details-content table {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 22px;
    color: #000;
    border-collapse: collapse;
    border: none;
    margin-top: -50px;
  }
  .print-content .details-content table .theadspace {
    width: 100%;
    height: 50px;
    border: none;
  }
  .print-content .details-content table thead {
    background: #fff;
    border: none;
  }
  .print-content .details-content table thead tr {
    border: none;
  }
  .print-content .details-content table thead tr td:nth-of-type(1) {
    width: 19%;
  }
  .print-content .details-content table thead tr td {
    width: 8%;
    background: #fff;
    font-size: 22px;
    color: #000;
    height: 55px;
    border: 1px solid #000;
  }
  .print-content .details-content table tbody {
    border-collapse: collapse;
  }
  .print-content .details-content table tbody tr {
    border: none;
  }
  .print-content .details-content table tbody tr td {
    font-size: 22px;
    height: 55px;
    border: 1px solid #000;
  }
  .print-content .statistics-content .hospital-title {
    height: 110px;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 20px;
    border: none;
  }
  .print-content .statistics-content .hospital-title p:nth-of-type(1) {
    font-size: 26px;
    color: #000;
    line-height: 80px;
  }
  .print-content .statistics-content .hospital-title p:nth-of-type(2) {
    font-size: 30px;
    color: #000;
    line-height: 50px;
  }
  .print-content .statistics-content .td-info {
    width: 100%;
    border: none;
  }
  .print-content .statistics-content .td-info .patient-info {
    width: 100%;
    text-align: left;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }
  .print-content .statistics-content .td-info .patient-info .item {
    font-size: 22px;
    color: #000;
    line-height: 40px;
  }
  .print-content .statistics-content .td-info .patient-info .item:nth-last-of-type(1) {
    text-align: right;
  }
  .print-content .statistics-content table {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 22px;
    color: #000;
    border-collapse: collapse;
    border: none;
    margin-top: -50px;
  }
  .print-content .statistics-content table .theadspace {
    width: 100%;
    height: 50px;
    border: none;
  }
  .print-content .statistics-content table thead {
    background: #fff;
    border: none;
  }
  .print-content .statistics-content table thead tr {
    border: none;
  }
  .print-content .statistics-content table thead tr td:nth-of-type(1) {
    width: 19%;
  }
  .print-content .statistics-content table thead tr td {
    width: 9%;
    background: #fff;
    font-size: 22px;
    color: #000;
    height: 55px;
    border: 1px solid #000;
  }
  .print-content .statistics-content table tbody {
    border-collapse: collapse;
  }
  .print-content .statistics-content table tbody tr {
    border: none;
  }
  .print-content .statistics-content table tbody tr td {
    font-size: 22px;
    height: 55px;
    border: 1px solid #000;
  }
  .print-content .implement-content .hospital-title {
    height: 110px;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 20px;
    border: none;
  }
  .print-content .implement-content .hospital-title p:nth-of-type(1) {
    font-size: 26px;
    color: #000;
    line-height: 80px;
  }
  .print-content .implement-content .hospital-title p:nth-of-type(2) {
    font-size: 30px;
    color: #000;
    line-height: 50px;
  }
  .print-content .implement-content .td-info {
    width: 100%;
    border: none;
  }
  .print-content .implement-content .td-info .patient-info {
    width: 100%;
    text-align: left;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }
  .print-content .implement-content .td-info .patient-info .item {
    font-size: 22px;
    color: #000;
    line-height: 40px;
  }
  .print-content .implement-content .td-info .patient-info .item:nth-last-of-type(1) {
    text-align: right;
  }
  .print-content .implement-content table {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 22px;
    color: #000;
    border-collapse: collapse;
    border: none;
    margin-top: -50px;
  }
  .print-content .implement-content table .theadspace {
    width: 100%;
    height: 50px;
    border: none;
  }
  .print-content .implement-content table thead {
    background: #fff;
    border: none;
  }
  .print-content .implement-content table thead tr {
    border: none;
  }
  .print-content .implement-content table thead tr td:nth-of-type(1) {
    width: 30%;
  }
  .print-content .implement-content table thead tr td {
    width: 9%;
    background: #fff;
    font-size: 22px;
    color: #000;
    height: 55px;
    border: 1px solid #000;
  }
  .print-content .implement-content table tbody {
    border-collapse: collapse;
  }
  .print-content .implement-content table tbody tr {
    border: none;
  }
  .print-content .implement-content table tbody tr td:nth-of-type(1) {
    width: 19%;
  }
  .print-content .implement-content table tbody tr td {
    width: 9%;
    font-size: 22px;
    height: 55px;
    border: 1px solid #000;
  }
}
